<div class='row'>
  <div class='col-lg-12'>
    <div class='text-center m-b-lg'>
      <h1>Place Order!</h1>
      <h4>Kindly, fill the form below.</h4>
    </div>

    <%= render 'form', order: @order %>
  </div>
</div>
